{% set items = [{ title: "foo", id: 1 }, { title: "bar", id: 2}] %}
{% set flag = true %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>INDEX PAGE</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1>INDEX1</h1>
    <img src="/img/typescript.svg" />
    <img src="/img/sample.jpg" />
    <div id="app"></div>
    {% include "text.njk" %} {% if flag %} It is true {% endif %}
    <h1>Posts</h1>
    <ul>
      {% for item in items %}
      <li>{{ item.title }}</li>
      {% else %}
      <li>This would display if the 'item' collection were empty</li>
      {% endfor %}
    </ul>
    <script type="module" src="/js/main.ts"></script>
  </body>
</html>
